<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'servlist/css/servicelist.css' %}">
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a>View Profile</a></li>
                <li><a href="/book">Book a Schedule</a></li>
                <!--<li><a href="{% static 'book.html' %}">Book a Schedule</a></li>-->
                <li><a>Transaction History</a></li>
            </ul>
        </nav>
    </header>

    <div class="outer-container">
        <div class="inputs">
            <form action="" method="POST">
                <!-- Date input -->
                <div class="form-group">
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" name="date">
                </div>

                <!-- Time input -->
                <div class="form-group">
                    <label for="time">Select Time:</label>
                    <input type="time" id="time" name="time" placeholder="Select Time">
                </div>

                <!-- Pet Type input -->
                <div class="form-group">
                    <label for="pet_type">Pet Type:</label> 
                    <input type="text" id="pet_type" name="pet_type" placeholder="Ex. Shark">
                </div>

                <!-- Pet Name input -->
                <div class="form-group">
                    <label for="pet_name">Pet Name:</label>
                    <input type="text" id="pet_name" name="pet_name" placeholder="Ex. Bella">
                </div>

                <!-- Service dropdown -->
                <div class="form-group">
                    <label for="service">Select Service:</label>
                    <select id="service" name="service">
                        <option value="walking">Pet Walking</option>
                        <option value="boarding">Pet Boarding</option>
                        <option value="grooming">Pet Grooming</option>
                    </select>
                </div>

                <!-- Confirm button -->
                <!-- <button type="submit" class="confirm-btn">Confirm</button> -->
                <button class="confirm-btn">Confirm</button>
            </form>
        </div>
    </div>
</body>
</html>