<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'servlist/css/servicelist.css' %}"> 
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <nav>
            <ul>
                <li><a href="../dashboard">Dashboard</a></li>
                <li><a href="../../userprofile">View Profile</a></li>
                <li><a href="../book">Book a Schedule</a></li>
                <!-- <li><a href="{% static 'book.html' %}">Book a Schedule</a></li> -->
                <li><a>Transaction History</a></li>
            </ul>
        </nav>
    </header>

    <div class="outer-container">
        <div class="top-left">
            <p>Hello, {{ first_name }}</p>
        </div>

        <div class="top-right">
            <p>Display Profile</p>
        </div>

        <div class="bottom-left">
            <p>Your Listings</p>
            <table>
                <thead>
                    <tr>
                        <th>Service Type</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.service.services }}</td>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.time }}</td>
                            <td>Pending</td>  <!-- Default status -->
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No bookings available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="bottom-right">
            <button class="btn">Message Us</button>
        </div>
    </div>
</body>
</html>